body{
    background-color: rgb(255, 251, 251);
   
    justify-content: center;
}

textarea{
    display:flex;
    width: 150px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    font-size: 14px;
    justify-content: space-between;
    resize: none;



}

.Box{
  padding-top: 0%;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  width: 250px;  
  padding: 100px; 
  background-color: #dddcdc;
  border-radius: 20px;
  box-shadow: black
  
  
}


h1{
    
    text-align: center;
    
}   
p{

  text-align: center;
    
}

